:root {
  --background: #9c8a5b;
  --foreground: #fefadc;
  --link: #deecff;

  --transition-duration: 0.15s ease-in-out;
  --brightness: 1.1;
}

:root.silver {
  --background: #aea8a8;
  --foreground: #253237;
  --link: #3a4d55;
}
body {
  background-color: var(--background);
  color: var(--foreground);

  font-family: "Playfair Display", serif;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 95vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#word {
  margin: 0; /* reset margin it does weird things in the flexbox */
  font-size: 6rem;
  cursor: pointer;
  padding: 1rem;

  transition: backdrop-filter var(--transition-duration);
}
#word:hover {
  backdrop-filter: brightness(var(--brightness));
}

#clipboard-toast {
  font-size: 1.3rem;

  opacity: 0;
  transition: opacity var(--transition-duration);
}

a {
  color: var(--link);
  transition: filter var(--transition-duration);
}

a:hover {
  filter: brightness(var(--brightness));
}

footer {
  text-align: center;
}

@media screen and (max-width: 650px) {
  #word {
    font-size: 3rem;
  }
}

@media screen and (max-width: 420px) {
  #word {
    font-size: 2rem;
  }
}
